{% extends "ScaredForumBundle::base.html.twig" %}

{% block body %}
<div id="register_form">
    {% include 'ScaredForumBundle:shards:steps.html.twig' with {'steps': steps} %}

  <br />
{% include "ScaredForumUserBundle:Registration:register_content.html.twig" %}
</div>
{% endblock body %}
